/* CSS ALL */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS font-face */
@font-face {
    font-family: "Google-font";
    src: url(../assets/ProductSans-Regular.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/Roboto-Regular.ttf);
}

/* CSS body */
body{
    font-family: "Google-font", sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    width: 100%;
    background-color: #fff;
    overflow-x: hidden;
}

/* CSS header */
header.h-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 66px;
    padding: 2px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: #fff;

}

/* CSS header .h-left */
.h-left {
    flex-flow: row nowrap;
    flex: 0 0 15%;
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding: 0.6rem 0.5rem;
    padding-right: 6rem;
}

/* CSS header .h-left img */
.h-left img{
    margin: auto;
    
}

/* CSS header .h-left svg */
header .h-left svg{
    margin-right: 1rem;
    fill: #5f6368;
    cursor: pointer;
    border-radius: 50%;
    padding: 8px;
    width: 40px;
    height: 40px;
}

/* CSS header .h-left svg:hover */
header .h-left svg:hover{
    background-color: #ebecec
}

/* CSS header h-search */
header .h-search{
    flex: 0 0 47%;
    display: flex;
    justify-content: space-around;
    height: 54px;
    font-size: 15px;
    color: #5f6368;
    background-color: #f1f3f4;
    padding: 0 10px;
    border-radius: 10px;
    margin-right: auto;
    align-items: center;
}

/* CSS header .h-search svg */
header .h-search svg{
    fill: #5f6368;
}
header .h-search svg:nth-child(3){
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 5px;
}
header .h-search svg:nth-child(3):hover{
    background-color: rgba(60, 64, 67, 0.08);
    cursor: pointer;
}

/* CSS header .h-search input */
header .h-search input{
    width: 90%;
    padding: 0.6rem 0.3rem;
    border: none;
    outline: none;
    background-color: #f1f3f4;
    font-size: 16px;
}

/* CSS header .h-right */
header .h-right{
    flex: 0 0 25%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right;
    align-items: center;
    justify-self: flex-start;
    margin-right: 0.8rem;
}

/* CSS header .h-right svg */
header .h-right svg{
    fill: #5f6368;
    cursor: pointer;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    margin: 0.2rem;
    width: 35px;
    height: 35px;
}
header .h-right svg:hover{
    background-color: #ebecec;
}

/* CSS header .h-right img */
header .h-right img{
    width: 45px;
    height: 45px;
    margin-left: 0.8rem;
    border-radius: 50%;
}

